<ul class="nav justify-content-center bg-light">
    <li class="nav-item">
        <a class="nav-link active" href="#">TARIFA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">CONTACTENOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">FORMATOS</a>
    </li>
</ul>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-danger" [routerLink]="['/inicio']">INICIO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger">CARTELERA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="#">TEATROS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="#">CONFITERIA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="#">PROMOCIONES</a>
    </li>
</ul>